<% count = @article.comments.count %>
<h3>Comments (<%= count %>)</h3>

 <%= render :partial => 'comments/comment', :collection => @article.comments %>

<h4> Add your comment:</h4>
<% form_for @article.comments.new  do |f| %>
    <p>
      <%= f.label :author_name, "Your name:" %>
      <%= f.text_field :author_name%>
    </p>
    <p>
      <%= f.label :body, "Your comment:" %>
      <%= f.text_area :body%>
    </p>
    <%= f.hidden_field :article_id %>
<%= f.submit "Add unusual and original comment!" %>
<% end %>