<h1>
  <% if @tag %>
      Articles tagged with <%= @tag.name %>
  <% else %>
    All articles:
  <% end %>
</h1>


<%= link_to "Create new article", new_article_path, :class => 'new_article'   %>

<div id="sidebar">
  Filter by Tag: <%= raw tag_links(Tag.active) %>
</div>

<% unless @articles.empty? %>
    <ul id='articles'>
      <% @articles.each do |article|%>
             <li><%= link_to(article.title, article_path(article)) %>
          <span class='tag_list'><%= article.tag_list %></span>
          </li>
      <% end %>
    </ul>
<% else %>
    <h3>Sorry, no articles match the tag "<%= params[:tag] %>"</h3>
<% end %>